.home-main {
  width: 100%;
  height: 99%;
  @media (max-width: 600px) {
    z-index: -1;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100%;

  }
}

.content {
  background-image: url("../../assets/images/frontend-development-tools.png");
  background-repeat: no-repeat;
  background-size:cover;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 600px) {
    background-image: none;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 10px !important;
    width: 100% !important;
    height: 10vh;
  }

  .typewriter {
    font-family: 'futuramedium', monospace;
    font-size: 56px;
    color: $color-white;
    font-weight: bold;
    position:static;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 600px) {
      font-size: 25px;
    }
  }

  .typewriter span {
    color: $color-cursor;
    text-transform: uppercase;
    padding: 10px;
    border-right: solid $color-cursor 10px;
    animation: cursor 1s ease-in-out infinite;
    word-break: break-all;

    @media (max-width: 600px) {
      font-size: 25px;
    }
  }
}

.main-logo {
  width: 50vw;
  box-shadow: -11px 2px 12px -8px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  @media (max-width: 600px) {

    box-shadow: none;
    flex-direction: column;
    align-items: center;
      margin: 10px !important;
      width: 100% !important;
      height: 10vh;
      justify-content: space-around;
      padding: 0 25px;

  }

  .typewriter {
    font-family:'futuramedium', monospace;
    font-size: 4vw;
    font-weight: bold;
    color: $color-white;
    margin: 40px;
    margin-left: -50px;

    @media (min-width:600px) {
      &:nth-child(1){
        animation-name: UPandDOWN;
        animation-duration: 1s ;
        animation-iteration-count: infinite;
        transition: all;
      }

    }


    @media (max-width: 600px) {
      font-size: 25px;
      margin: 0px;
      display: flex;

      &:nth-child(1){
        visibility: hidden;
        position: relative;
        line-height: 0;
        &::after{
          visibility:visible;
          content: "HEY! I AM";
        }
      }

      &:nth-child(2){
       display: none;
      }
      &:nth-child(3){
        text-transform: uppercase;

      }
    }

    &:first-child::after {
      content: ".";
      color: $color-cursor;
      height: 0;
      border-radius: 50%;
      padding: 2px;
      @media (max-width:600px){
        content: "HEY! I AM";
        margin-left: -60px;
      }

    }

    &::first-letter {
      color: $color-cursor;
      font-size: 5vw;

      @media (max-width: 600px) {
        font-size: 25px;
      }
    }
  }
}
