.introduction {
  height: 90%;
  top: 40px;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;

  @media (max-width: 600px) {
    flex-direction: column-reverse !important;
  }

  &_about-me {
    display: flex;
    padding: 15rem 0rem;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    align-items: center;
    flex-direction: column;

    @media (max-width: 600px) {
      padding: 10px;
      width: 100% !important;
    }

    &_content {
      display: flex;
      flex-direction: column;
      width: 80%;
      padding: 20px;
      @media (max-width: 600px) {
        width: 100%;
      }
      h1 {
        width: 100%;
        font-family: "futuramedium", monospace;
        font-size: 5vw;
        color: $color-white;
        @media (max-width: 600px) {
          font-size: 50px;
        }
      }

      &_about {
        margin-top: 40px;
        font-family: "futuramedium", monospace;
        font-size: 14px;
        color: $color-white;
        font-weight: 100;
        word-spacing: 1px;
        line-height: 30px;
        animation-name: moveInLeft;
        animation-duration: 1s;
        transition: ease-in;
      }

      &__line {
        position: relative;
        width: 100px;
        height: 5px;
        top: 20px;
        margin-top: 10px;
        border-radius: 20px;
        background-color: $color-cursor;
        animation-name: moveInLeft;
        animation-duration: 1s;
        transition: ease-in;

        &:last-child {
          margin-left: 50px;
        }
      }
    }

    .check-my-profile {
      display: flex;

      a {
        position: relative;
        img {
          cursor: pointer;
          width: 50px;
          margin: 10px;
          height: 50px;
        }
      }
    }
  }

  &_about_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 15rem 0rem;
    box-shadow: -11px 2px 12px -8px rgba(0, 0, 0, 0.75);

    @media (max-width: 600px) {
      width: 100%;
      box-shadow: none;
      padding: 10px;
    }

    img {
      border-radius: 50%;
      filter: brightness(1.2);
      width: max(30vw, 50%);
      height: max(30vw, 50%);
      @media (max-width: 600px) {
        width: 200px;
        height:200px;
        box-shadow: none;
        padding: 10px;
      }
    }
  }
}
