<section class="sections">
  <div class="introduction">
    <div
      class="introduction_about-me"

    >
      <div class="introduction_about-me_content">
        <div>
          <h1>Skills</h1>
          <div
            class="introduction_about-me_content__line"

          ></div>
          <div
            class="introduction_about-me_content__line"

          ></div>
        </div>

        <div class="introduction_about-me_content_about">
          An individual eager to learn and explore new fields of life and
          technology, with good listening skills and fast learning abilities.
        </div>
        <div class="skills">
          <h3>INTEREST</h3>
          <div>Data Structure & Algorithm</div>
        </div>
      </div>
    </div>

    <div class="introduction_about_img">
      <div class="container">
        <div class="row justify-content-center">
      <div  class="col-2 div-img "  >
       <img [src]="images[0].img" >
       <Span>Java Script</Span>
      </div>
      <div  class="col-2 div-img"  >
        <img [src]="images[1].img" >
        <Span>Angular</Span>
       </div>
       <div  class="col-2 div-img"  >
        <img [src]="images[2].img">
        <Span>Git</Span>
       </div>
       <div  class="col-2 div-img"   >
        <img [src]="images[3].img">
        <Span>Type Script</Span>
       </div>
       <div  class="col-2 div-img" >
        <img [src]="images[4].img">
        <Span>React</Span>
       </div>
     </div>
    </div>
    </div>
  </div>
</section>
