

.skills{
  background-color: #5b253a;
    padding: 16px 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 10px 5px 0 rgb(0 0 0 / 10%);
    color: #ff404d !important;
    margin-bottom: 12px;
    text-align: center;
}
