header {
  top:0;
  left: 0;
  z-index: 1;
  position: fixed;

  .mat-toolbar {
    background-color: $color-transparent;
    width: 100vw;
    padding: 10px;
    border-radius: 10px;
    background-color: $color-transparent;
    box-shadow: 0 1.5rem 4rem rgb($color-white, 0.4);

    .example-spacer {
      flex: 1 1 auto;
    }
    @media (max-width: 600px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      .example-spacer {
        display: none;
      }
    }

    .name {
      color: $color-white;
      &::first-letter {
        padding: 5px 10px;
        line-height: 1.5;
        color: $color-cursor;
        background-color: $color-white;
        border-radius: 50%;
      }

      &::-ms-tooltip {
        content: "Hii";
      }
    }

    .header-icon {
      display: flex;
      cursor: pointer;
      border: none;
      background-color: transparent;
      margin: 10px;
      .mat-icon {
        color: $color-white;
      }
    }
    .header-icon:not(:first-child):hover {
      transform: translateY(-1px) scale(1.2);
      transition: all;

      .mat-icon:active {
        transform: translateY(2px);
        transition: all;
      }
    }

    @media (max-width: 600px) {
      .header-icon:not(:first-child) {
        display: none;
      }
    }
  }
}

.drawer-open {
  position: fixed;
  margin: 10px 20px;
  width: 17vw;
  height: 100vh;
  z-index: 1;
  background-color: $color-white;
  border-radius: 10px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  transition: all;

  @media (max-width:600px) {
    width: 90vw;
  }
}

.drawer-close {
  position: fixed;
  margin: 10px;
  width: 373px;
  height: 100vh;
  z-index: 1;
  left: -550px;
  background-color: $color-white;
  border-radius: 10px;
  animation-name: moveInRight;
  animation-duration: 1s;
}

.drawer-close::before {
  content: "";
  left: -550px;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d) !important;
}
.border-gradient-green {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59) !important;
}

.list {
  display: block;
  padding: 10px;
  margin: 10px;
  animation-name: list-animation;
  animation-duration: 1s;
  transition: all;

  &_item {
    display: flex;
    a {
      width: 100vw;
      height: 6vh;
      color: $color-black;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: $font-size;
      margin-bottom: 5px;
    }
  }

  &_item:hover {
    a {
    background-color: $color-body;
    border-radius: 5px;
    color: $color-white;
    animation-name: list-animation;
    animation-duration: 0.7s;
    transition: all;

    @media (max-width: 600px) {
      animation: none;
    }
  }
  }
}

.custom-card {
  padding: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &_body {
    border-radius: 10px;
    padding: 10px;

    &__img {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
      }

      .name {
        font-size: $font-size;
        &::first-letter {
          padding: 5px 10px;
          line-height: 1.5;
          color: $color-cursor;
          background-color: $color-body;
          border-radius: 50%;
        }
      }
    }
  }
}

.cross {
  color: $color-black;

  &:hover {
    animation-name: rotate-sign;
    animation-duration: 1s;
  }
}
