<section class="sections">
  <div class="introduction" >
    <div class="introduction_about-me" data-aos="fade-up-right" data-aos-duration="1000" >
      <div class="introduction_about-me_content">
        <div>
          <h1>Skills</h1>
          <div class="introduction_about-me_content__line" ></div>
          <div class="introduction_about-me_content__line" data-aos="slide-right" data-aos-delay="200"></div>
        </div>

        <div class="introduction_about-me_content_about">
An individual eager to learn and explore new fields of life and technology, with good listening skills and fast learning abilities.
        </div>
        <div class="check-my-profile">
          <a href="https://github.com/Piyush132000" target="_blank">
            <img src="./assets/images/github.png"
          /></a>
          <a
            href="https://www.linkedin.com/in/piyush-agrawal-6a4594195/"
            target="_blank"
          >
            <img src="./assets/images/linkdin.png" />
          </a>
          <!-- <a (click)="downloadResume()" class="awesome-button"><mat-icon>download</mat-icon>Resume</a> -->
        </div>
      </div>
    </div>
    <div class="introduction_about_img" >
      <img data-aos="fade-down-left"  src="./assets/images/favicon.png" data-aos-duration="2000" />
    </div>
  </div>
</section>
