<section class="sections">
  <div  id="projects" class="introduction">
    <div
      class="introduction_about-me"
    >
      <div class="introduction_about-me_content">
        <div>
          <h1>Projects</h1>
          <div class="introduction_about-me_content__line"></div>
          <div
            class="introduction_about-me_content__line"
          ></div>
        </div>

        <div class="introduction_about-me_content_about">
         In Progress        </div>
      </div>
    </div>
  </div>
</section>
