<section class="d-flex">
  <ng-container *ngIf="drawerEnabled">
    <div #drawer [ngClass]="drawerShow ? 'drawer-open ' : 'drawer-close'">
      <div class="custom-card">
        <div class="custom-card_body border-gradient border-gradient-purple">
          <div class="d-flex justify-content-between align-items-center">
            <div class="custom-card_body__img">
              <img
                src="./assets/images/favicon.png"
                class="rounded-circle"
                alt="Avatar"
              />
              <div class="d-grid">
                <span class="name">{{ title }}</span>
                <span>Software Consultant</span>
              </div>
            </div>
            <mat-icon
              class="cross"
              style="cursor: pointer"
              (click)="toggleDrawer()"
              >close</mat-icon
            >
          </div>
        </div>
      </div>
      <ul class="list">
        <li class="list_item">
          <a (click)="toggleDrawer()" href="#home"
            ><mat-icon>home</mat-icon> Home</a
          >
        </li>
        <li class="list_item">
          <a (click)="toggleDrawer()" href="#aboutme"
            ><mat-icon>info</mat-icon>About Me</a
          >
        </li>
        <li class="list_item">
          <a (click)="toggleDrawer()" href="#projects">
            <img
              src="./assets/images/project.png"
              style="width: 30px; height: 30px"
            />Projects</a
          >
        </li>
        <li class="list_item">
          <a (click)="toggleDrawer()" href="#aboutme"
            ><mat-icon>group_add</mat-icon> Connect</a
          >
        </li>
        <li class="list_item">
          <a (click)="toggleDrawer()" href="#aboutme">
            <img
              src="./assets/images/template.png"
              style="width: 30px; height: 30px"
            />
            Templates</a
          >
        </li>
        <li class="list_item">
          <a (click)="toggleDrawer()" href="#aboutme"
            ><mat-icon>article</mat-icon> Blogs</a
          >
        </li>
      </ul>
    </div>
  </ng-container>
  <header class="top-fixed">

      <mat-toolbar>
        <button class="header-icon">
          <mat-icon (click)="toggleDrawer()">menu</mat-icon>
        </button>
        <span class="name">{{ title }}</span>
        <span class="example-spacer"></span>
        <button class="header-icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button class="header-icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>

  </header>
</section>
