<section class="d-flex">
  <ng-container *ngIf="drawerEnabled">
    <div #drawer [ngClass]="drawerShow ? 'drawer-open ' : 'drawer-close'">
      <div class="custom-card">
        <div class="custom-card_body border-gradient border-gradient-purple">
          <div class="d-flex justify-content-between align-items-center">
            <div class="custom-card_body__img">
              <img
                src="./assets/images/Piyush.jpg"
                class="rounded-circle"
                alt="Avatar"
              />
              <span class="name">{{ title }}</span>
            </div>
            <mat-icon
              class="cross"
              style="cursor: pointer"
              (click)="toggleDrawer()"
              >close</mat-icon
            >
          </div>
        </div>
      </div>
      <ul class="list">
        <li class="list_item"><mat-icon>home</mat-icon>   Home</li>
        <li class="list_item"><mat-icon>info</mat-icon>   About</li>
        <li class="list_item"><img src="./assets/images/project.png" style="width: 30px;height: 30px;">Projects</li>
        <li class="list_item"><mat-icon>group_add</mat-icon>   Connect</li>
        <li class="list_item"><img src="./assets/images/template.png" style="width: 30px;height: 30px;">   Templates</li>
        <li class="list_item"><mat-icon>article</mat-icon>   Blogs</li>
      </ul>
    </div>
  </ng-container>
  <header>
    <p>
      <mat-toolbar>
        <button class="header-icon">
          <mat-icon (click)="toggleDrawer()">menu</mat-icon>
        </button>
        <span class="name">{{ title }}</span>
        <span class="example-spacer"></span>
        <button class="header-icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button class="header-icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </p>
  </header>
</section>
