<app-header></app-header>
<section id="home" style="z-index:-1 ;"  class="sections ">
  <app-home-main></app-home-main>
</section>
<section id="aboutme"  class="introduction sections" >
  <div class="introduction_about-me">
    <div class="introduction_about-me_content">
      <div>
        <h1>About Me</h1>
        <div class="introduction_about-me_content__line"></div>
        <div class="introduction_about-me_content__line"></div>
      </div>

      <div class="introduction_about-me_content_about">
        Innovative Front End Developer with 1.5-year of experience building
        and maintaining responsive web applications. Proficient in
        Angular,HTML, CSS, typescript, JavaScript. Currently working in Knoldus Inc.
      </div>
      <div class="check-my-profile">
        <a href="https://github.com/Piyush132000" target="_blank">
          <img src="./assets/images/github.png"
        /></a>
        <a
          href="https://www.linkedin.com/in/piyush-agrawal-6a4594195/"
          target="_blank"
        >
          <img src="./assets/images/linkdin.png" />
        </a>
        <a (click)="downloadResume()" class="awesome-button"><mat-icon>download</mat-icon>Resume</a>
      </div>
    </div>
  </div>
  <div class="introduction_about_img" style="z-index: -1;">
    <img src="./assets/images/favicon.png" />
  </div>
</section>
