<app-header style="z-index: 100;"></app-header>
<div style="top: 100px; position: relative;">
  <app-home-main style=" z-index: -1"></app-home-main>

  <section class="introduction">
    <div class="introduction_about-me">
      <div class="introduction_about-me_content">
        <div>
        <h1>About Me</h1>
        <div class="introduction_about-me_content__line"></div>
        <div class="introduction_about-me_content__line"></div>
      </div>

        <div class="introduction_about-me_content_about">
          I'm an angular developer. Currently working in Knoldus Inc.
        </div>
        <div class="check-my-profile">
          <a href="https://github.com/Piyush132000" target="_blank">
            <img src="../../../assets/images/github.png"
          /></a>
          <a href="https://www.linkedin.com/in/piyush-agrawal-6a4594195/" target="_blank">
            <img src="../../../assets/images/linkdin.png" />
          </a>
        </div>
      </div>


    </div>
    <div class="introduction_about_img">
      <img src="../../../assets/images/Piyush.jpg" />

    </div>
  </section>
</div>
